<!--<div class="container">-->
<!--  <nav class="navbar navbar-default">-->
<!--    <ul class="nav navbar-nav">-->
<!--      <li>-->
<!--        <a routerLink="playlist">Playlist</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a routerLink="edit/0">Create List</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </nav>-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->

<!--<button *ngIf="showTitle">{{ title }}</button>-->
<!--<app-slider-demo ></app-slider-demo>-->

<app-http-curd></app-http-curd>
<!--<app-http-demo></app-http-demo>-->
