<p>slider-demo works!!</p>

<!--<h1>Dylan is awesome!</h1>-->
<!--//默认值为false，所以只有在点击后才添加class-->
<input type="text" [class.addedStyle]="appliedClass" >

<!--//添加事件去掉js的"on"，然后直接引用函数即可-->
<button (click)="appliedStyle()">Click Me!</button>

<input type="text" [ngStyle]="{backgroundColor: appliedClass? 'blue': 'red'}">

<img [src]="imgSrc" alt="" height="100">

<!--
规律：
1：$event是给出这个事件的所有信息
2：#Dylan是指element本身，当在任意一行写出后，可以在其它行继续引用，
  ！但是，如果只是在其它行的括号里引用，那么log只会显示这一行整个element，不能添加具体的value
  如果在本行使用#Dylan，并且在括号里有引用，那么可以在括号里添加具体的属性值，如value
3: {{ Dylan | json }} 是管道pipeline，必须要使用才能在使用行和引用行得到具体信息
4: (keydown)永远都会被显示，而（keyup）则不一定
5：在ts文件里用console.log出具体想要的值或者信息，在html模版直接写就可以，
  不需要再写出如：evt.value 或者 evt.key，但是要注意所属类型
-->
<div style="display: none;">
  {{ Dylan | json }}
</div>

<input type="text" (keyup)="onKeyUp($event.key)">

<input type="text" (keyup)="onKeyUp02(Dylan)" >

<input type="text" (keydown)="onKeyDown(Dylan.value)" #Dylan>

<!--双向绑定-->
<input type="text"  [(ngModel)]="email" (blur)="handleBlur()">

{{ email }}

<!--ngIf条件-->
<!--用blur函数不好，因为要等鼠标离开input框，才会显示，客户体验不好-->
<!--<h3 *ngIf="showAlert" >Must not more than 9 numbers</h3>-->
<!--<input type="number" #express (blur)="handleBlur02(express.value)">-->

<!--用（keyup）就好很多，因为会实时检测-->
<br>
<h3 *ngIf="showAlert" >Please change this as too long</h3>
<input type="text" #express2 (keyup)="onKeyUp03(express2.value)">

<!--ngFor循环遍历-->
<br>
<!--let i = index 是写在ngFor里面的-->
<img *ngFor="let img of imgs; let i = index"  [src]="img" [alt]="i" height="160">
<button *ngFor="let pic of imgs; let i = index"> The number{{ i }}</button>

<div *ngFor="let img of imgs let i = index" >
  <img  [src]="img" [alt]="i" height="160">
  <button style="color: red;" >The number{{ i }}</button>
</div>










